.inputFilter{
  padding: 10px;
    display: flex;
    justify-content: center;
}
.albums{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.album{
  padding: 10px;
  width: calc(90% /2);
  height: 200px;
  background-color: tan;
}
